.e18{
    width: 800px;
    height: 500px;
    div:first-child{
      width: 100% !important;
      height: 100% !important;
      canvas{
        width: 80% !important;
        height: 80% !important;
        left: 10% !important;
        top: 10% !important;
      }
    }
  }